form,
input,
select {
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  border: solid 2px red;
  margin: auto;
  align-items: center;
  gap: 5px;
  padding: 20px;
  background-color: aqua;
}

div {
  display: flex;
  margin: auto;
  justify-content: center;
  border: solid 2px red;
  background-color: aqua;
  padding: 10px;
}

h1 {
  display: flex;
  margin: auto;
  justify-content: center;
}